:root {
    --color-primary: #B40087;
    --color-secondary: #7D4FC5;
    --color-tertiary: #FF605B;
    --color-dark: #212121;
    --color-gray: #a1a1a1;
    --color-grey: #f0f0f0;
    --color-white: #fff;

    --color-success: #177430;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    position: relative;
}

*[data-desc]:hover::after {
    content: attr(data-desc);
    position: absolute;
    right: 40%;
    top: 110%;
    display: inline-block;
    border: 1px #aaaaaa solid;
    border-radius: 3px;
    background-color: var(--color-white);
    padding: 0 4px;
    color: var(--color-dark);
    font-size: 1.3rem;
    z-index: 1;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-dark);
    padding: 1.5rem;

    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    border-radius: .7rem;
    overflow: hidden;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.20);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;

    height: 95vh;
}

.section-top {
    position: relative;
    padding-top : 1.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
    color: var(--color-white);
}

.sect-container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 1.4rem;
}

.time {
    font-size: 3rem;
    line-height: 1.15;
}

.current-time {
    font-weight: 700;
}

.current-seconds {
    font-weight: 300;
}

.add-task {
    bottom: 0;
    width: 100%;
    margin: 2rem 0 0;
}

.add-task-content {
    width: 80%;
    margin: 2rem auto;
}

.add-task-top {
    display: flex;
    justify-content: space-evenly; 
    padding: .75rem;
}

.input {
    padding: .7rem 1.7rem;
    border-radius: .3rem;
    border: none;

    font-family: inherit;
    color: var(--color-dark);
}

.input:focus-visible {
    font-style: italic;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.input-priority {
    width: 15.1rem;
}

.input-task {
    flex-grow: 1;
    margin-left: 1.5rem;
}

.add-task-bottom {
    padding: .75rem;
    display: flex;
}

.input-date {
    margin-right: 1.5rem;
}

.input-time {
    margin-right: auto;
}

.section-bottom {
    background-color: var(--color-white);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1.2rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-grey);
    width: 3px;
}

::-webkit-scrollbar-track-piece {
    margin: 0 6px;
}

/*****************************************
BUTTONS
*****************************************/
.btn {
    position: relative;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    border-radius: 0.35rem;
    border: none;
    font-size: 1.4rem;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
    background-color: var(--color-white);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
/* 
.btn-primary::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-color: var(--color-white);
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0.3rem;
    transition: all .4s;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: scale(1.5);
    opacity: 0;
    z-index: 1;
} */

.btn-primary {
    color: var(--color-dark);
    background-color: var(--color-white);

}

/*****************************************
TASKS
*****************************************/

.tasklist-head {
    display: flex;
    padding: 2rem 0 .5rem;
    border-bottom: 2px solid var(--color-grey);
    text-transform: uppercase;
}

.tasklist-title {
    margin-left: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.tasklist-title-2 {
    font-weight: 400;
    font-size: 1.2rem;
}

.task {
    display: flex;
    border-bottom: 2px solid var(--color-grey);
    align-items: center;
}

.task-priority {
    flex-basis: 8px;
    background-color: var(--color-gray);
    margin-right: 1.2rem;
    align-self: stretch;
}

.high {
    background-color: var(--color-tertiary);
}

.medium {
    background-color: var(--color-primary);
}

.low {
    background-color: var(--color-secondary);
}

.task-left {
    margin-right: auto;
}

.task-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.task-rt {
    margin-right: 3rem;
}

.task-right {
    position: relative;
    display: flex;
    align-self: stretch;
    right: -5.5rem;
    transition: all .4s ease-out;
}

.task-right:hover {
    right: -1.6rem;
}

.task-done {
    display: flex;
    width: 4rem;
    background-color: var(--color-tertiary);
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
}

.task-deadline {
    color: var(--color-gray);
    font-weight: 400;
}

.checkmark {
    width: 2rem;
}

.tool-tip-parent {
    position: relative;
}

.tool-tip {
    position: absolute;
    z-index: 2;
    top: 0;
    display: none;
    right: 0;
    background-color: var(--color-dark);
    color: var(--color-grey);
    border-radius: 3px;
    padding: 3px 7px;
    max-width: 16rem;
    opacity: 0;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    transition: all .3s ease 10s;
}

.tool-tip-parent:hover .tool-tip {
    opacity: 0.5;
    display: inline-block;
    transform: translateY(150%);
}


/*****************************************
***************** NOTICE *****************
*****************************************/

.notice {
    margin: 10px auto 0px;
    padding: 5px 10px;
    transition: all .5s ease;
    transform: translateY(-100%);
    color: var(--color-white);
    display: flex;
}

.notice-text {
    flex: 1 0;
}

.notice-close {
    flex: 0 0 3rem;
    text-align: center;
    cursor: pointer;
}

.success-notice {
    background-color: var(--color-success);
}

.error-notice {
    background-color: var(--color-tertiary);
}

.show-notice {
    transform: translateY(0);
}